<%= render 'shared/header' %>
<div class='user-edit-main'>
  <div class='edit-title'>
    アカウント情報 更新
  </div>
  <div class='edit-form-wrap'>
    <%= form_with(model: resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class='edit-field-wrap'>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class='field'>
        <%= f.label :image, 'ユーザーアイコン', class: 'label-name' %>
        <div class='file-field'>
          <%= f.file_field :image %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :name, class: 'label-name' %>
        <div class='field-wrap'>
          <%= f.text_field :name, autofocus: true, autocomplete: 'nickname', class: 'user-edit-form' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :dokoiku_name, class: 'label-name' %>
        <div class='field-wrap'>
          <%= f.text_field :dokoiku_name, autofocus: true, autocomplete: 'username', class: 'user-edit-form' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :email, 'メールアドレス', class: 'label-name' %>
        <div class='field-wrap'>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'user-edit-form' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :password, 'パスワード変更', class: 'label-name' %>
        <span>変更したい場合入力してください</span>
        <div class='field-wrap'>
          <%= f.password_field :password, autofocus: true, autocomplete: 'new-password', class: 'user-edit-form' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :password_confirmation, class: 'label-name' %>
        <div class='field-wrap'>
          <%= f.password_field :password_confirmation, autofocus: true, autocomplete: 'new-password', class: 'user-edit-form' %>
        </div>
      </div>

      <div class='field'>
        <%= f.label :current_password, class: 'label-name' %>
        <span>変更にはパスワードが必要です</span>
        <div class='field-wrap'>
          <%= f.password_field :current_password, autofocus: true, autocomplete: 'current-password', class: 'user-edit-form' %>
        </div>
      </div>

      <div class='edit-btn'>
        <%= f.submit 'アカウント更新', class: 'user-btn' %>
      </div>
      <div class='edit-btn'>
        <%= link_to 'アカウント削除', unsubscribe_path(current_user), class: 'user-delete-btn' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>