<%= render 'shared/header' %>
<div class='my-page-main'>
  <div class='my-page-info'>
    <div class='my-icon'>
      <%= image_tag @user.image, class: 'icon' %>
    </div>
    <div class='my-name'>
      <%= @user.name %>
    </div>
    <div class='my-id'>
      <% if @user.is_deleted %>
      ( 退会済みのアカウントです )
      <% else %>
      ( @<%= @user.dokoiku_name %> )
      <% end %>
    </div>
    <% if user_signed_in? && current_user.id != @user.id && !@user.is_deleted %>
    <div class='follow-btn-wrap'>
      <% if @user.followed_by?(current_user) %>
        <%= link_to 'フォロー中', user_relationship_path(@user.id), class: 'delete-follow-btn', data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to 'フォローする', user_relationships_path(@user.id), class: 'follow-btn', data: { turbo_method: :post } %>
      <% end %>
    </div>
    <% end %>
    <% if user_signed_in? && current_user.id == @user.id %>
      <div class='user-edit-btn'>
        <%= link_to 'ユーザー編集', edit_user_registration_path, class: 'user-edit' %>
      </div>
    <% end %>
    <div class='like-counter'>
      トータルいいね<span>♥</span><%= @total_likes_count %>
    </div>
  </div>
  <div class='ff-info'>
    <div class='follow'>
      フォロー <%= @user.active_relationships.count %> 人
    </div>
    <div class='follower'>
      フォロワー <%= @user.passive_relationships.count %> 人
    </div>
  </div>
  <div class='my-post'>
    <% if @posts.present? %>
      <ul class='my-post-list'>
        <% @posts.each do |post| %>
          <li class='my-list'>
            <%= link_to post_path(post) do %>
            <div class='my-img-cnt'>
              <%= image_tag post.images[0], class: 'my-posted-img' %>
            </div>
            <div class='my-info'>
              <div class='my-posted-title'>
                <%= post.title %>
              </div>
            </div>
            <div class='my-post-visited'>
              <%= post.prefecture.name %>
            </div>
          <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class='not-yet-wrap'>
        <div class='not-yet-post'>
          まだ投稿がありません…
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render 'shared/footer' %>