<header class='header'>
  <div class='logo-img-wrap'>
    <div class='logo-img'>
      <%= image_tag('7.png', size: '65x65') %>
      <%= link_to 'ドコイク', root_path %>
    </div>
  </div>
  <div class='nav'>
    <ul class='user-nav'>
      <% if user_signed_in? %>
        <li class='logout'><%= link_to 'ログアウト', destroy_user_session_path, data: {turbo_method: :delete} %></li>
        <li><%= image_tag current_user.image.variant(resize: '60x60'), class: 'user-icon' %></li>
      <% else %>
        <li class='login'><%= link_to 'ログイン', user_session_path %></li>
        <li class='sign-up'><%= link_to '新規登録', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</header>