<%= render "shared/header" %>

<div class='index-main'>
<!-- ヘッダー下部 ざっくりアプリ説明 -->
  <div class='index-img-title'>
    <%= image_tag('season.jpg', class: 'index-img') %>
    <div class='service-title'><span>ドコイク で</span></div>
    <div class='service-title-sub'><span>自分史 を 作ろう</span></div>
  </div>

<!-- ここから 新規投稿一覧 -->
  <div class='new-posts-index'>
    <div class='new-cnt'><span><%= image_tag('ume.png', size: '50x50', class: 'new-cnt-img') %> 新 規 投 稿</span></div>
  </div>

  <div class='six-posts'>
    <ul class='posts-lists'>
      <% @posts.each do |post| %>
        <li class='list'>
          <%= link_to post_path(post) do %>
          <div class='posts-img-cnt'>
            <%= image_tag post.images[0], class: 'posts-img' %>
          </div>
          <div class='post-info'>
            <div class='posted-title'>
              <%= post.title %>
            </div>
            <div class='posted-tag'>
              <%= post.prefecture.name %>
            </div>
          </div>
          <div class='posted-user'>
              @ <%= post.user.dokoiku_name %>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
    <div class='search-nav'>
      <div class='search-prefecture'>
        <%= link_to '都 道 府 県 か ら 探 す', root_path %>
      </div>
      <div class='new-post'>
        <%= link_to '投 稿 す る', new_post_path %>
      </div>
    </div>
</div>

<%= render "shared/footer" %>