<%= render "shared/header" %>

<div class='index-main'>
<!-- ヘッダー下部 ざっくりアプリ説明 -->
  <div class='index-img-title'>
    <%= image_tag('season.jpg', class: 'index-img') %>
    <div class='service-title'><span>ドコイク で</span></div>
    <div class='service-title-sub'><span>自分史 を 作ろう</span></div>
  </div>

  <div class='nav-bar'>
    <div class='left-bar'>
      <ul class='nav-lists'>
        <li class='prefecture-search' id='lists'>都道府県から探す
        </li>
      </ul>
    </div>
    <div class='center-bar'>
      <%= link_to '新規投稿', new_post_path %>
    </div>
    <% if user_signed_in? %>
    <div class='right-bar'>
      <%= link_to 'マイページ', user_path(current_user) %>
    </div>
    <% end %>
  </div>
  <div class='prefecture-lists'>
    <ul class='show-lists' hidden id='pull-down'>
      <% @prefecture.each do |prefecture| %>
      <%= link_to prefecture.name, search_path(prefecture) %>
      <li></li>
      <% end %>
    </ul>
    <ul class='show-lists2' hidden id='pull-down2'>
      <% @prefecture2.each do |prefecture2| %>
      <%= link_to prefecture2.name, search_path(prefecture2) %>
      <li></li>
      <% end %>
    </ul>
    <ul class='show-lists3' hidden id='pull-down3'>
      <% @prefecture3.each do |prefecture3| %>
      <%= link_to prefecture3.name, search_path(prefecture3) %>
      <li></li>
      <% end %>
    </ul>
    <ul class='show-lists4' hidden id='pull-down4'>
      <% @prefecture4.each do |prefecture4| %>
      <%= link_to prefecture4.name, search_path(prefecture4) %>
      <li></li>
      <% end %>
    </ul>
    <ul class='show-lists5' hidden id='pull-down5'>
      <% @prefecture5.each do |prefecture5| %>
      <%= link_to prefecture5.name, search_path(prefecture5) %>
      <li></li>
      <% end %>
    </ul>
    <ul class='show-lists6' hidden id='pull-down6'>
      <% @prefecture6.each do |prefecture6| %>
      <%= link_to prefecture6.name, search_path(prefecture6) %>
      <li></li>
      <% end %>
    </ul>
  </div>

<!-- ここから 新規投稿一覧 -->
  <div class='new-posts-index'>
    <div class='new-cnt'><span><%= image_tag('ume.png', size: '50x50', class: 'new-cnt-img') %> 新 規 投 稿</span></div>
  </div>

  <div class='six-posts'>
    <ul class='posts-lists'>
      <% @posts.each do |post| %>
        <li class='list'>
          <%= link_to post_path(post) do %>
          <div class='posts-img-cnt'>
            <%= image_tag post.images[0], class: 'posts-img' %>
          </div>
          <div class='post-info'>
            <div class='posted-title'>
              <%= post.title %>
            </div>
            <div class='posted-tag'>
              <%= link_to post.prefecture.name, search_path(post.prefecture) %>
            </div>
          </div>
          <div class='posted-user'>
            @ <%= link_to post.user.dokoiku_name, user_path(post.user) %>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>