<%= render "shared/header" %>

<div class='show-main'>
  <div class='show-cnt-wrap'>
    <div class='show-title-wrap'>
      <div class='favorite'>
        <% if user_signed_in? %>
          <% if @post.liked_by?(current_user) %>
            <%= link_to 'いいねしました', post_like_path(@post.id), data: { turbo_method: :delete }, class: 'post-liked' %>
          <% else %>
            <%= link_to 'いいねする?', post_likes_path(@post.id), data: { turbo_method: :post }, class: 'post-likes' %>
          <% end %>
        <% end %>
        <div class='like-count'>
          <span>♥</span><%= @like_count %>
        </div>
      </div>
      <div class='show-title'>
        <%= @post.title %>
      </div>
      <div class='show-point'>
        満足度 : <span><%= @post.point.name %></span>
      </div>
      <div class='show-user'>
        投稿者 : <%= link_to @post.user.name, user_path(@post.user) %>
      </div>
      <div class='show-prefecture'>
        <%= link_to @post.prefecture.name, search_path(@post.prefecture) %>
      </div>

      <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class='edit-work-btn'>
        <div class='edit-btn-wrap'>
          <%= link_to '編集', edit_post_path(@post), method: :get, class: "edit-btn" %>
        </div>
        <div class='delete-btn-wrap'>
          <%= link_to '削除', post_path(@post), data: { turbo_method: :delete }, class:"delete-btn" %>
        </div>
      </div>
      <% end %>
    </div>

    <div class='img-set'>
      <%= image_tag @post.images[0], class: 'show-img' %>
      <div class='show-text'>
        <%= @post.text %>
      </div>
    </div>

    <% if @post.images[1].present? %>
      <div class='img-set'>
        <%= image_tag @post.images[1], class: 'show-img' %>
        <div class='show-text'>
          <%= @post.text2 %>
        </div>
      </div>
    <% end %>

    <% if @post.images[2].present? %>
      <div class='img-set'>
      <%= image_tag @post.images[2], class: 'show-img' %>
        <div class='show-text'>
          <%= @post.text3 %>
        </div>
      </div>
    <% end %>

    <div class='show-recommend-wrap'>
      ここがオススメ!
    </div>
    <div class='show-recommend'>
      <%= @post.recommend %>
    </div>

    <% if @post.disappointed.present? %>
      <div class='show-disappointed-wrap'>
        ここは要注意!
      </div>
      <div class='show-disappointed'>
        <%= @post.disappointed %>
      </div>
    <% end %>

    <div class='show-place'>
      << <span><%= @post.place %></span> >> へのアクセス ▼ ▼
    </div>
    <div id="map"></div>
  </div>
</div>
<%= render "shared/footer" %>

<!-- Googleマップ表示用の Javascript -->
<script>
function initMap(){
  // 地図の位置情報(緯度・経度)を取得
  let mapPosition = {lat: <%= @post.latitude || 0 %> , lng: <%= @post.longitude || 0 %> };
  let map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: mapPosition
  });
  let transitLayer = new google.maps.TransitLayer();
  transitLayer.setMap(map);

  let contentString = '【住所】<%= @post.place %>';
  let infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  let marker = new google.maps.Marker({
    position: mapPosition,
    map: map,
    title: contentString
  });

  marker.addListener('click', function(){
    infowindow.open(map, marker);
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&callback=initMap" async defer></script>
